.top{
  width: 100%;
  background-color: #2D9BA8;
}

#top{
  width: 980px;
  margin: auto;
  height: 80px;
}
.top_center {
  position: fixed;
  top: 10%;
  right: 10px;
  z-index: 9999;
}
.middleaa {
  position: absolute;
    transform: translate(-50%,-50%);
    top: 9rem;
    left: 17%;
    z-index: 999;
}
@media screen and (max-width: 1240px) {
  /* #hhh {
    top: ;
  } */
}
@media screen and (max-width: 780px) {
  .top_center {
    top: 6%!important;
  }
  .container .top_center input
  .container .top_center button {
    font-size: 12px!important;
    width: 50px!important;
  }
  .btn {
    font-size: 12px!important;
    padding: 1px!important;
  }
}
.top_left{
  padding-top: 10px;
  float: left;
  height: 60px;
  position: relative;
}

/*按钮*/
.middle{
  position:absolute;
  transform: translate(-50%,-50%);
  top: 4rem;
  left:28%;
  z-index: 999;
}
.btn{
  position:relative;
  display:block;
  color:white;
  font-size: 14px;
  font-family: "montserrat";
  text-decoration: none;
  font-weight: bold;
  margin: 30px 0;
  border:2px solid white;
  padding :.1302rem .2083rem;
  text-transform: uppercase;
  overflow: hidden;
  transform: 1s all ease;
}
.btn::before{
  background: #2D9BA8;
  content: "";
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  z-index:-1;
  transition: all 0.6s ease;
}
.btn1::before{
  width:0;
  height:100%;
}
.btn:hover::before{
  width: 100%;
}
/*按钮*/

#hhh{
  position: absolute;
  top: 2.2rem;
  left: 1.6rem;
  width: 700px;
  height: 300px;
}
@media screen and (min-width: 1260px) {
  .nav1_bottom p {
    font-size: 26px!important;
  }
}
@media screen and (min-width: 780px) {
  .main3 {
    margin-bottom: .48rem!important;
    margin-left: 30%;
  }
}
@media screen and (max-width: 780px) {
  /* #hhh {
    top: 150px;
    left: 100px;
  } */
  /* #hhh span {
    font-size: 30px!important;
    line-height: 50px!important;
  } */
  /* h6 {
    top: 100px!important;
  } */
  .top_center button p,.top_center input {
    font-size: 12px!important;
  }
  .top_right {
    height: 55px!important;
    font-size: 14px;
  }
  /* .top_right2 {
    display: flex;
  } */
  .top_left {
    line-height: 55px!important;
    height: 55px!important;
    padding-top: 0!important;
  }
  .top_right .top_right2 ul>li>a {
    /* height: 55px!important; */
    line-height: 55px!important;
  }
  .top_right .top_right2 ul > li ol li a {
    line-height: 30px!important;
  }
}
#hhh span{
  font-size: .3rem;
  color:white;
  text-shadow: 2px 2px 4px  #2D9BA8;
  display: block;
  line-height: .5rem;
  font-weight: bold;
}

h6{
  position: absolute;
  top: 1rem;
  width: 8rem;
  height: 300px;
  font-size: .3rem;
  letter-spacing: 5px;
  color:white;
  text-shadow: 2px 2px 4px  #2D9BA8;
  line-height: .5rem;
  font-weight: bold;
}

.banner img{
  width: 100%;
  margin-bottom: 15px;
}

h3{
  font-size: 4vw;
  color:#2D9BA8;
  display: block;
  line-height: 120px;
}
.nav{
  width: 980px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
  overflow: hidden;
}
.nav1{
  position: relative;
  overflow: hidden;
  width: 100%;
}
.nav1_left{
  /* width: 950px; */
  float:center;
}
.nav1_right{
  float: right;
}
.nav1_right img{
  height: 400px;
}
.nav1_top{
  overflow: hidden;
  text-align: center;
}
.nav1_bottom{
  overflow: hidden;
  color:#144264;
  font-size: larger;
  margin-bottom: 90px;
  margin-left: 10%;
  width: 80%;
}
.nav1_bottom p{
  line-height: 1.5em;
  text-indent: 2em;
}
.nav1_bottom p:hover{
  color: red;
}

.general {
  width: 100%;      
  text-align: center;   /* 内部内容居中 */
}


/*图片放大*/
.main{
  width: 28%;
  background: #2D9BA8;
  text-align: center;
  overflow: hidden;
  margin-bottom:40px;
  float:left;
  margin-right: 2%;
  margin-left: 3%;
  border-radius: 5%;
  /*超出部分隐藏*/
}
.main2,.main3{
  width: 70%;
  background: white;
  text-align: center;
  overflow: hidden;
  margin-bottom: .3rem;
  border-radius: 5%;
  /*超出部分隐藏*/
}
.main2 {
  width: 100%;
}

.main img,.main2 img,.main3 img{
  width: 100%;
  height: 100%;
  float: left;
  transition: 0.5s;
  /*动画过渡0.5s*/
}


.bt{
  width: 100%;
  height:5vw;
  line-height: 5vw;
  background-color: #2D9BA8;
  float:left;
  position: relative;
  top:-30%;
  float: left;
}

.bt2,.bt3{
  width: 100%;
  height:.27rem;
  background-color: white;
  float:left;
  position: relative;
  top:-30%;
  float: left;
}

.bt2 {
  height: .345rem;
}

.main a{
  /* position: relative;
  top:-1.5vw; */
  color: white;
  text-decoration: none;
  font-size: 2vw;
}
.main2 a,.main3 a{
  position: relative;
  top:-1.5vw;
  color: #017DBC;
  text-decoration: none;
  font-size: 2vw;
}

.main a :hover,.main2 a :hover,.main3 a :hover{
  text-decoration:  underline;
}
.main img:hover,.main2 img:hover,.main3 img:hover{
  transform:scale(1.2);
  /*鼠标悬停，图片放大1.3倍*/
  cursor: pointer;
}
/*图片放大*/

.banner2 img{
  position: relative;
  width: 100%;
  margin-bottom: 40px;
}


.nav1 h4{
  position: absolute;
  font-size: .4rem;
  color:white;
  text-shadow: 2px 2px 4px  #2D9BA8;
  display: block;
  line-height: .5rem;
  position: absolute;
  top: 5.5rem;
  left: 10%;
  width: 3rem;
  height: 1rem;
}
@media screen and (max-width: 960px) {
  h3 {
    line-height: 80px;
  }
  .middleaa {
    top: 21.3rem;
  }
  .general {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main {
    width: 50%;
    margin: 0 auto;
    float: none;
    margin-bottom: 20px;
  }
  .nav1 h4 {
    top: 18rem!important;
  }
  .nav1 h5 {
    top: 19.5rem!important;
  }
}
@media screen and (max-width: 860px) {
  .nav1 h4 {
    top: 19rem!important;
    font-size: .3rem!important;
  }
  .nav1 h5 {
    top: 20rem!important;
    font-size: .2rem!important;
  }
  .middleaa {
    top: 21.4rem;
  }
}
@media screen and (max-width: 760px) {
  .nav1 h4 {
    top: 19.4rem!important;
  }
  .nav1 h5 {
    top: 20.6rem!important;
  }
  .middleaa {
    top: 21.6rem;
  }
}
@media screen and (max-width: 640px) {
  h3 {
    line-height: 50px!important;
  }
  .nav1 h4 {
    top: 20rem!important;
  }
  .nav1 h5 {
    top: 21.2rem!important;
  }
  .middleaa {
    top: 22.5rem;
  }
}
@media screen and (max-width: 545px) {
  .nav1 h4 {
    top: 20.8rem!important;
  }
  .nav1 h5 {
    top: 22rem!important;
  }
  .middleaa {
    top: 23.5rem;
  }
}

.nav1 h5{
  position: absolute;
  font-size: .3rem;
  color:white;
  display: block;
  line-height: .4rem;
  position: absolute;
  top: 7rem;
  left: 10%;
  width: 8rem;
  height: 1rem;
}

.nav1_gray{
  background-color: #ECECEC;
}


/* === nav2 balanced layout === */
.nav2{
  display: flex;
  margin-left: 5%;
  width: 90%;
  margin-top: 28px;
  margin-bottom: -70px;
  align-items: stretch; /* 高度对齐 */
}

.nav2_left
{
  width: 100%;
  position: static !important;
  float: none !important;
}

.nav2_right {
  width: 60%;
  position: static !important;
  float: none !important;
}



.nav3_right{
  width: 60%;
  position: static !important;
  float: none !important;
}



/*按钮2*/
.middle2{
  position:relative;
  left: 35%;
  top: .625rem;
  width: 25%;
  text-align: center;
  margin-bottom: 10px;
}
.middle2 .btn2{
  position:relative;
  display:block;
  color: white;
  font-size: .0729rem;
  font-family: "montserrat";
  text-decoration: none;
  font-weight: bold;
  margin: 30px 0;
  border:3px solid  #017DBC;
  background-color: #017DBC;
  padding :14px .3125rem;
  text-transform: uppercase;
  overflow: hidden;
  transform: 1s all ease;
  border-radius: 50px;
  margin-top: -100px;
}
.btn2:hover{
  background: white;
  color: #017DBC;
  transition: 0.4s;
}
/*按钮2*/




.nav2_right_bottom p{
  text-indent: 2em;
  background-image: url(../images/nav0.jpg);
  background-repeat: no-repeat;
  background-position: 20px 6px;
  line-height: 1.35em;
}
.nav3{
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  margin: 100px 0 20px;
}
@media screen and (min-width: 1260px) {
  .nav3 {
    margin: 130px 0 20px;
  }
}
.nav3 video {
  width: 80%;
  margin-bottom: 5%;
}
/* .top_right .top_right2 ul .underline{
  width: 1.65rem!important;
}
.top_right .top_right2 ul >li:nth-child(2):hover~.underline{
  left: 1.66rem!important;
  background-color: #ff9933;
}
.top_right .top_right2 ul >li:nth-child(3):hover~.underline{
  left:3.3rem!important;
  background-color: white;
}
.top_right .top_right2 ul >li:nth-child(4):hover~.underline{
  left:4.95rem!important;
  background-color: #ff9933;
}
.top_right .top_right2 ul >li:nth-child(5):hover~.underline{
  left:6.58rem!important;
  background-color:white;
} */
.middle3 {
  height: 100%;
  display: flex;
  align-items: center;
  width: 1.4rem!important;
  /* line-height: 70px; */
}
/* @media screen and (max-width: 700px) {
  .btn4 {
    padding: 0!important;
  }
} */


