.top{
  width: 100%;
  background-color: black;
  overflow: hidden;
}

#top{
  width: 980px;
  margin: auto;
  overflow: hidden;
}
.top_left{
  float: left;
  height: 50px;
}
.banner img{
  height:500px;
  width: 100%;
}
.nav{
  width: 980px;
  margin: auto;
  margin-top: 20px;
  overflow: hidden;
}
.nav1{
  overflow: hidden;
  width: 100%;
}
.nav1_top{
  overflow: hidden;
  text-align: center;
  margin-bottom: 20px;
}
.nav1_bottom{
  overflow: hidden;
}
.nav1_bottom_left{
  float: left;
  overflow: hidden;
  width: 320px;
  height: 395px;
}
.nav1_bottom_left img{
  width: 320px;
  margin-top: 10px;
}
.nav1_bottom_left p{
  text-indent: 2em;
  line-height: 1.5em;
}
.nav1_bottom_center{
  float: left;
  overflow: hidden;
  width: 320px;
  height: 395px;
  margin-left: 10px;
  margin-right: 10px;
}
.nav1_bottom_center p{
  text-indent: 2em;
  line-height: 1.5em;
}
.nav1_bottom_center img{
  width: 320px;
  margin-bottom: 10px;
}
.nav1_bottom_right{
  float: left;
  overflow: hidden;
  width: 320px;
  height: 395px;
}
.nav1_bottom_right p{
  text-indent: 2em;
  line-height: 1.5em;
}
.nav1_bottom_right img{
  width: 320px;
  margin-top: 20px;
}
