.top {
  width: 100%;
  background-color: #2D9BA8;
}

#top {
  width: 980px;
  margin: auto;
  height: 80px;
}

.top_left {
  padding-top: 10px;
  float: left;
  height: 60px;
  position: relative;
}

.banner {
  position: relative;
  height: 500px;
  padding-top: 70px;
}

.banner img {
  height: 100%;
  width: 100%;
}

h2 {
  position: absolute;
  top: 40%;
  left: 20%;
  width: 500px;
  height: 300px;
  font-size: 3.5vw;
  letter-spacing: 5px;
  color: white;
  text-shadow: 2px 2px 4px #2D9BA8;
  line-height: 50px;
  font-weight: bold;
}

.banner img {
  height: 100%;
  width: 100%;
}

.nav {
  /* width: 980px; */
  max-width: 980px;
  height: 530px;
  margin: auto;
  margin-top: 20px;
  overflow: hidden;
  margin-top: 80px;
}

.nav1 {
  overflow: hidden;
  width: 100%;
  border-radius: 70px;
  box-shadow: 0px 0px 10px 2px #abd8dc;
}

.nav1_top {
  background-color: #2D9BA8;
  text-align: center;
}

h3 {
  font-size: 2vw;
  color: white;
  display: block;
  line-height: 70px;
}

/* .banner1,.banner2,.banner3{
    position: absolute;
    float: right;
    padding-left: 40%;
    padding-top: 5%;
  } */
.banner1,
.banner2,
.banner3 {
  /* position: absolute; */
  float: left;
  width: 45%;
  padding-top: 5%;
}

.banner1 img,
.banner2 img,
.banner3 img {
  display: block;
  width: 100%;
}

/* .banner1 img,.banner2 img,.banner3 img{
    width: 80%;
  } */
.nav1_bottom_left2 {
  float: left;
  overflow: hidden;
  width: 50%;
  /* height: 395px; */
  overflow: hidden;
  color: #144264;
  /* font-size: .2rem; */
  padding-left: 5%;
  padding-top: 5%;
}

@media screen and (min-width: 960px) {
  .nav1_bottom_left2 {
    font-size: 18px!important;
  }
}
@media screen and (max-width: 1000px) {
  .nav {
    max-width: 760px;
  }
}

@media screen and (max-width: 900px) {
  .nav {
    max-width: 680px;
    height: 400px;
  }

  .nav1_bottom_left2 {
    width: 100%;
    /* font-size: 14px; */
    padding-top: 2%;
  }

  /* .banner2 {
      width: 100%;
    } */
  .nav-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav1_bottom_left2 p {
    line-height: 1.5em !important;
    text-indent: 5em;
  }

  h3 {
    line-height: 50px;
  }

  .banner1,
  .banner2,
  .banner3 {
    padding-top: 2%;
  }
}

@media screen and (max-width: 760px) {
  .nav-content .nav1_bottom_left2 p {
    font-size: 12px !important;
  }
}

@media screen and (max-width: 690px) {
  .nav1_bottom_left2 {
    font-size: 12px;
  }

  h3 {
    line-height: 40px;
  }

  .nav {
    height: 330px;
  }
}

.nav1_bottom_left2 p {
  line-height: 2em;
  text-indent: 5em;
}

.nav1_bottom_left2 p:hover {
  color: red;
}

.nav1_gray {
  background-color: #ECECEC;
  margin-top: 200px;
}

h4 {
  position: relative;
  right: 80px;
  font-size: 2vw;
  color: #2D9BA8;
  display: block;
  line-height: 70px;

}

.nav2 {
  float: center;
  margin-top: 100px;
}

.nav2_center {
  position: relative;
  color: #144264;
  font-size: 4vr;
}

.nav2_center p {
  line-height: 1.5em;
  text-indent: 2em;
  width: 750px;
  padding-left: 12%;
}

.nav2_center p:hover {
  color: red;
}

.desinger {
  background-color: #2D9BA8;
  margin-top: 100px;
  margin-bottom: 50px;
}

/*   
  h1{
    color: white;
    position: relative;
    left:400px;
    font-size: 2vw;
    display: block;
    line-height: 70px; 
  } */