*{
    padding: 0;
    margin: 0;
  }
  .top{
    position: fixed;
    z-index: 9999;
  }
  .top_right2 ul li a {
    font-family: 'Arial', sans-serif; /* 替换成你想要的字体 */
    font-size: 16px; /* 可选：调整大小 */
}
  .guding{
    position: fixed;
  }
  body{
    font-family: '宋体';
  }
  .container{
    overflow: hidden;
  }
  .top_center {
    display: flex;
    padding-top: 25px;
    /* float: right; */
    margin-left: 5px;
  }/*搜索*/
  .top_center input {
    /* float: left; */
    padding-left: 10px;
    width: 1.0417rem;
    height: 25px;
    border: 1px solid white;
    outline: none;
    color: #757575;
    font-size: 15px;
  }
  .top_center input:focus {
    outline: none;
    border: 1px solid white;
  }
  .top_center button {
    /* float: left; */
    margin-top: 0px;
    width: 65px;
    height: 27px;
    border: 1px solid white;
    background-color: white;
    border-radius: 0px 2px 2px 0px;
    outline: none;
    color: black;
    cursor: pointer;
  }
  .top_center button p {
    float: right;
    margin-right: 7px;
    margin-top: 1px;
    font-size: 15px;
    line-height: 27px;
  }
  .top_left img{
    height: 100%;
  }
  #hh{
    position: absolute;
    top: 50px;
    left: 1072px;
    width: 80px;
    height: 150px;
    background-color: black;
  }
  #hh span{
    font-size: 15px;
    color:white;
    display: block;
    line-height: 36px;
  }
  .top_right{
    float: right;
    height: 50px;
  }
  .top_right span{
    padding-top: 15px;
    display: block;
    width: 80px;
    text-align: center;
    float: right;
    line-height: 50px;
    margin-right: 15px;
  }/*导航栏*/
  .top_right span:last-child{
    margin-right: 0px;
  }
  .top_right span a{
    text-decoration: none;
    color: white;
  } 
  .top_right span:hover a{
    color: red;
  }
  .banner{
    width: 100%;
    margin: auto;
    overflow: hidden;
  }

  h7{
    font-size: 40px;
    color:#017DBC;
    line-height: 70px;
    left:50%;
    left:100px;
    font-weight: bold;
    margin-top: 100px;
  }
  .nav2_top{
    overflow: hidden;
    text-align: center;
  }
  .tubiao img{
    width:45%;
  }
  .tubiao{
    text-align: center;
  }
  

  footer{
    background-color: #144264;
    width: 100%;
    margin: auto;
    font-size: 14px;
    color: white;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-top: 20px;
  }

  /*按钮3*/
/* .middle3{
  position:absolute;
  left: 85%;
  width: 13%;
  text-align: center;
  margin-bottom: 10px;
} */
.middle3 {
  height: 100%;
  display: flex;
  align-items: center;
  width: 1.4rem!important;
  /* line-height: 70px; */
}
.btn4{
  position:relative;
  display:block;
  color: #2D9BA8;
  font-size: 14px;
  font-family: "montserrat";
  text-decoration: none;
  font-weight: bold;
  /* margin: 30px 0; */
  border:3px solid  white;
  background-color: white;
  padding :.1042rem .25rem;
  text-transform: uppercase;
  overflow: hidden;
  transform: 1s all ease;
  border-radius: 50px;
  padding: 0.05rem 0.2rem;
}
.btn5:hover{
  background: #2D9BA8;
  color:white;
  transition: 0.4s;
}
/*按钮3*/
.ip img{
  position: fixed;
  top:50%;
  left:80%;
  width: 20%;
  z-index: 9999;
}
/*按钮2*/
.middle2{
  position:relative;
  left: 35%;
  width: 25%;
  text-align: center;
  margin-bottom: 10px;
}
.btn2{
  position:relative;
  display:block;
  color: white;
  font-size: 14px;
  font-family: "montserrat";
  text-decoration: none;
  font-weight: bold;
  margin: 30px 0;
  border:3px solid  #017DBC;
  background-color: #017DBC;
  padding :.2042rem .3167rem;
  text-transform: uppercase;
  overflow: hidden;
  transform: 1s all ease;
  border-radius: 50px;
}
.btn2:hover{
  background: white;
  color: #017DBC;
  transition: 0.4s;
}
/*按钮2*/
/*导航栏*/
li{
  list-style: none;
}
a{
  text-decoration: none;
  color: white;
}
.top_right{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height:70px;
  padding: 0 15px;
  background-color: #2D9BA8;
  box-shadow:0 0 100px rgba(16, 109, 107, 0.3);
  z-index: 9999999999;
}
@media screen and (max-width: 780px) {
  .top_right {
    padding: 0!important;
  }
}

.top_right .top_right2{
  /* width: 1200px; */
  height:100%;
  margin: 0 auto;
}

.top_right .top_right2 ul{
  position: relative;
  display: flex;
  justify-content: space-around;
  /* width: 100%; */
  height:100%;
}

.top_right .top_right2 ul > li{
  width: 100%;
  height: 100%;
}

.top_right .top_right2 ul>li>a{
  display: block;
  width: 100%;
  height: 100%;
  line-height: 70px;
  text-align: center;
  box-shadow:1 1 3px rgba(16, 109, 107, 0.3);
}
.top_right .top_right2 ul>li ol{
  width: 100%;
  background-color: #20929f;
  box-shadow:1 1 3px rgba(16, 109, 107, 0.3);
  transform: scaleY(0);
  transform-origin:50% 0;
  transition: all 0.6s;
}
.top_right .top_right2 ul > li ol li a{
  display: block;
  width: 100%;
  line-height: 45px;
  text-align: center;
}
.top_right .top_right2 ul>li ol li:hover{
  background-color: #6abbc4;
}
.top_right .top_right2 ul>li:hover ol{
  transform: scaleY(1);
}
/*设置线条*/
.top_right .top_right2 ul .underline{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 2rem;
  height:6px;
  border-top-left-radius:6px;
  border-top-right-radius:6px;
  background-color: white;
  transition: all 0.6s;
  pointer-events: none;
}
.top_right .top_right2 ul .underline:before{
  content:"";
  position: absolute;
  top:-10px;
  left: calc(50% - 9px);
  width: 18px;
  height: 10px;
  background-color: inherit;/*继承父元素属性值*/
  clip-path:polygon(0 100%,50% 0,100% 100%);
}
.top_right .top_right2 ul .underline{
  width: 1.5rem!important;
}
.top_right .top_right2 ul >li:nth-child(2):hover~.underline{
  left: 1.3rem!important;
  background-color: #ff9933;
}
.top_right .top_right2 ul >li:nth-child(3):hover~.underline{
  left:2.7rem!important;
  background-color: white;
}
.top_right .top_right2 ul >li:nth-child(4):hover~.underline{
  left:4.15rem!important;
  background-color: #ff9933;
}
.top_right .top_right2 ul >li:nth-child(5):hover~.underline{
  left:5.5rem!important;
  background-color:white;
}
@media screen and (max-width: 780px) {
  .top_right {
    font-size: 14px!important;
  }
}
@media screen and (max-width: 700px) {
  .btn4 {
    padding: 0!important;
  }
}
@media screen and (max-width: 600px) {
  .top_right {
    font-size: 12px!important;
  }
}
@media screen and (max-width: 760px) {
  .nav1_bottom_left2,
  .nav3_top,
  .nav2_center p {
    width: 100%!important;
    margin-left: 0!important;

  }
  .nav1_bottom_left2 p,
  .nav2_center p,
  .nav1_gray p{
    font-size: 16px!important;
  }
  h1 {
    margin-top: 1%!important;
    left: 45%!important;
  }
}
/*导航栏*/
@media screen and (max-width: 1500px) {

  .nav1_bottom_left2 p,
  .nav1_gray p,
  .nav1_bottom p {
    font-size: 22px !important;
  }
}

@media screen and (max-width: 1320px) {
  .nav1_bottom_left2 p,
  .nav1_gray p,
  .nav1_bottom p {
    font-size: 20px !important;
  }
}
@media screen and (max-width: 1200px) {
  .nav1_bottom_left2 p,
  .nav1_gray p,
  .nav1_bottom p {
    font-size: 18px !important;
  }
}
@media screen and (max-width: 960px) {
  .nav1_bottom_left2 p,
  .nav1_gray p,
  .nav1_bottom p {
    font-size: 16px !important;
  }
}
@media screen and (max-width: 1050px) {
  .middle2 {
    margin-top: 80px;
  }
}
@media screen and (max-width: 600px) {
  .nav1_bottom_left2 p,
  .nav1_gray p,
  .nav1_bottom p {
    font-size: 16px!important;
  }
}
